h1 {
  color: yellow;
  background-color: black;
}
body {
  background-color: yellow;
}
.bujji {
  color: green;
}

.chitti {
  color: red;
}

#darling {
  color: pink;
}

* {
  text-align: center;
}
