*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    margin: 100px auto;
}
h1{
    font-size: 48px;
    
}
.subheading{
    color: green;
}

h2{ 
    font-size: 24px;
    margin-bottom: 50px;
}
a{
    border: 1px solid black;
    padding: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
    height: 200px;
    width: 200px;
    border-radius: 20px;
}
img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.logo{
    width: 100px;
    height: 100px;
    float: left;
    border-radius: 50%;
    border: 5px solid black;
}